<div class="publication-block publication-block_mobile">
    <h4 class="title-line">Подписка по E-mail</h4>
    <p>Подпишитесь на нашу рассылку, чтобы всегда быть в курсе новостей из мира автоэлектроники!</p>
    <form class="publication-form" data-request="onSubscribe" data-request-flash>
        <input type="email" name="email" placeholder="Введите ваш e-mail" required>
        <button class="red-border-btn" type="submit">
            <svg class="at-sign">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'assets/images/svg-symbols.svg#at-sign'|theme}}"></use>
            </svg>
        </button>
    </form>
</div>